.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .logo {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 8px;
  
        img {
          width: 32px;
          height: 32px;
        }

        span{
          font-size: 1.5rem;
          background: linear-gradient(to right, #217bfe, #e55571);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
      .logout {
        font-size: 1rem;
        font-weight: bold;
        color: #ff5c5c; /* Initial color */
        cursor: pointer;
        text-decoration: none;
        transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for color */
        background: none;
        border: 0;
        outline: none;
      }
  
      .logout:hover {
        color: darkred; /* Change to red on hover */
        text-decoration: none; /* Optional: underline on hover */
      }
    }
  
    main {
      flex: 1;
      overflow: hidden;
    }
  }